.full-screen-card1 {
    overflow: hidden;
   
    //justify-content: center;
    //align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    //overflow: hidden;
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }
.clickable-card {
    cursor: pointer;
}
.p-8 {
    padding: 8rem !important;
}
.custom-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}



