.username {
    color: white; /* Change the color of the username */
    font-size: large;
    font-weight:normal
}
.topbar-img{
    margin-left: 0px;
    margin-top: 2px;
    height: 40px;
    float: inherit;;
}
.topbar-a-icon{
    display: inline;
    font-size: large;
    color: blue; 
    font-weight: bold;
}
.logout-icon{
    color:white;
}
