<div class="layout-topbar">
    <div class="justify-content-start">
    <!--<a href="#" >
        <img class="topbar-img" id="layout-topbar-logo1" src="assets/layout/images/logo.png" alt="babylon-layout"/>
    </a>-->

    <ul class="topbar-menu">

        
        <li #profile 
            *ngIf="userIsAuthenticated  && app.profileMode==='popup'||appMain.isHorizontal()"
           >
            
            
            <span class="username">{{username}}</span>
            &nbsp; &nbsp; &nbsp;
            
                    <span  class="username">
                    <a href="#" (click)="logout()" class="topbar-a-icon" >
                        <i class="pi pi-sign-out logout-icon"></i>
                    </a>
                </span>
           
       </li>
    </ul>
</div>
<!--<div class="layout-topbar">
<p-menubar [model]="items" >
    <ng-template pTemplate="start">
        <img src="assets/layout/images/logo.png" height="40" class="mr-2" />
    </ng-template>

    <ng-template pTemplate="end">
        <span class="username">{{username}}</span>
        &nbsp;&nbsp;&nbsp;
        <a *ngIf='userIsAuthenticated' href="#" (click)="logout()" class="topbar-a-icon" >Logout</a>
    </ng-template>
</p-menubar>
</div>-->








