<div class="layout-topbar">
    <div class="justify-content-start">
    <a href="#" class="layout-topbar-logo">
        <img id="layout-topbar-logo" src="assets/layout/images/logo.png" alt="babylon-layout"/>
    </a>

    <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-visible': appMain.topbarMenuActive}">

        
        <li #profile class="user-profile"
            *ngIf="userIsAuthenticated  && app.profileMode==='popup'||appMain.isHorizontal()"
            [ngClass]="{'active-topmenuitem':appMain.activeTopbarItem === profile}">
            
            <i class="pi pi-user"></i>
            <span class="topbar-item-name username">{{username}}</span>

            <!--<ul class="fadeInDown">
                <li role="menuitem">-->
                    <a href="#" (click)="logout()" >
                        <i class="pi pi-user"></i>
                        <span class="topbar-item-name  username">Logout</span>
                    </a>
            <!--    </li>
            </ul>-->
        </li>
    </ul>
</div>







