<div class="header surface-card p-6 pt-5 shadow-2 border-round">
    <h4>Add New Product</h4>
    <div class="card p-fluid">
        <div class="field grid">
            <label htmlFor="productName" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
            <div class="col-12 md:col-4">
                <input pInputText id="productName" type="text" name="productName"
                [(ngModel)]="product.productModel"/>
            </div>
        </div>
        <div class="field grid">
            <label htmlFor="category" class="col-12 mb-2 md:col-2 md:mb-0">Category</label>
            <div class="col-12 md:col-4">
                <p-dropdown [options]="categories"  placeholder="Select a category" [(ngModel)]="product.categoryName" [disabled]="false"></p-dropdown>
            </div>
        </div>

        <div class="field grid">
            <label htmlFor="brand" class="col-12 mb-2 md:col-2 md:mb-0">Brand</label>
            <div class="col-12 md:col-4">
                <input pInputText id="brand" type="text" [readonly]="false" [disabled]="false"  name="brand"
                [(ngModel)]="product.brand"/>
            </div>
        </div>

        <div class="field grid" *ngIf="!(product.categoryName=='doorbells' || product.categoryName=='cookware')">
            <label htmlFor="size" class="col-12 mb-2 md:col-2 md:mb-0">Size</label>
            <div class="col-12 md:col-4">
                <input pInputText id="size" type="text" [readonly]="false" [disabled]="false"  name="size"
                [(ngModel)]="product.size"/>
            </div>
        </div>

        <div class="field grid">
            <label htmlFor="weight" class="col-12 mb-2 md:col-2 md:mb-0">Weight</label>
            <div class="col-12 md:col-4">
                <input pInputText id="weight" type="text" name="weight"
                [(ngModel)]="product.weight"/>
            </div>
        </div>

        <div class="field grid">
            <label htmlFor="dimensions" class="col-12 mb-2 md:col-2 md:mb-0">Dimensions</label>
            <div class="col-12 md:col-4">
                <input pInputText id="dimensions" type="text" name="dimensions"
                [(ngModel)]="product.dimensions"/>
            </div>
        </div>

        <div class="field grid">
            <label htmlFor="skuNumber" class="col-12 mb-2 md:col-2 md:mb-0">SKU Number</label>
            <div class="col-12 md:col-4">
                <input pInputText id="skuNumber" type="text" name="skuNumber"
                [(ngModel)]="product.skuNumber"/>
            </div>
        </div>

        <div class="field grid" *ngIf="product.categoryName=='cookware' || product.categoryName=='travel bags'">
            <label htmlFor="material" class="col-12 mb-2 md:col-2 md:mb-0">Material</label>
            <div class="col-12 md:col-4">
                <input pInputText id="material" type="text" name="material"
                [(ngModel)]="product.material"/>
            </div>
        </div>

        <div class="field grid"  *ngIf="product.categoryName=='cookware'">
            <label htmlFor="noOfPieces" class="col-12 mb-2 md:col-2 md:mb-0">No Of Pieces</label>
            <div class="col-12 md:col-4">
                <input pInputText id="noOfPieces" type="text" name="noOfPieces"
                [(ngModel)]="product.noOfPieces"/>
            </div>
        </div>

        <div class="field grid" *ngIf="product.categoryName=='doorbells'">
            <label htmlFor="resolution" class="col-12 mb-2 md:col-2 md:mb-0">Resolution</label>
            <div class="col-12 md:col-4">
                <input pInputText id="resolution" type="text" name="resolution"
                [(ngModel)]="product.resolution"/>
            </div>
        </div>
    </div>
    <div>
    <button pButton pRipple label="Save" (click)="addProduct()" class="mr-2 mb-2"></button>
	<button pButton pRipple label="Cancel" (click)="cancelEditOperation()" class="mr-2 mb-2"></button>
    </div>
    <p-toast></p-toast> 
</div>
