
<div class="full-screen-card">

    <div class="grid grid-no gutter surface-section text-800">

        <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
            <section>
                <span class="text-6xl text-primary font-bold mb-3">Miracle Logistics Portal</span>
                <div class="block text-6xl font-bold mb-1">https://miracle.logistics.com</div>
                <p class="mt-0 mb-4 text-700 line-height-3">
                    This application will help you to manage warehouses and provide accessorial services. <br> Being a warehouse manager this portal will help us identify the location of the product and serve the order.
                </p>
            </section>
        </div>

        <div class="col-12 md:col-6 p-4 text-center md:text-left flex align-items-center">

            <div class="container">
                <div class="surface-card p-3 shadow-2 border-round w-full lg:w-28rem">

                    <div class="text-center mb-5">
                        <div class="text-900 text-3xl font-medium mb-3">Welcome</div>
                    </div>

                    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
                        <div>
                            <div class="formgrid grid">
                                <div class="field col">
                                    <label for="signin_email">Email ID</label>
                                    <input
                                        id="signin_email"
                                        type="email"
                                        #emailInput="ngModel"
                                        class="text-base
                                        text-color
                                        surface-overlay
                                        p-2 border-1
                                        border-solid
                                        surface-border
                                        border-round
                                        appearance-none
                                        outline-none
                                        focus:border-primary
                                        w-full"
                                        pInputText
                                        required
                                        ngModel
                                        name="signin_email"
                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                                    >

                                    <!-- Validation message for email format -->
                                    <div *ngIf="emailInput.invalid && emailInput.errors?.email">
                                        <small>Email must be a valid email address.</small>
                                    </div>

                                    <!-- Validation message for required -->
                                    <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                                        <small *ngIf="emailInput.errors?.required">Email is required.</small>
                                        <small *ngIf="emailInput.errors?.pattern">Please enter a valid email address.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="formgrid grid">

                                <div class="field col">
                                    <label for="signin_password">Password</label>
                                    <input
                                        id="signin_password"
                                        type="password"
                                        #passwordInput="ngModel"
                                        class="text-base
                                        text-color
                                        surface-overlay
                                        p-2 border-1
                                        border-solid
                                        surface-border
                                        border-round
                                        appearance-none
                                        outline-none
                                        focus:border-primary
                                        w-full"
                                        pInputText
                                        required
                                        ngModel
                                        name="signin_password"
                                    >
                                    <!-- Validation message for required -->
                                    <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                                        <small *ngIf="passwordInput.errors?.required">Password is required.</small>
                                    </div>
                                </div>
                            </div>


                            <div class="flex align-items-center justify-content-between mb-6">
                                <div class="flex align-items-center">
                                    <p-checkbox id="remember" [binary]="true" styleClass="mr-2"></p-checkbox>
                                    <label for="remember" class="text-900">Remember me</label>
                                </div>
                            </div>


                            <button
                                type="submit"
                                pButton
                                pRipple
                                label="Login"
                                icon="pi pi-user"
                                class="w-full"
                                [disabled]="loginForm.invalid"
                            >
                            </button>
                        </div>
                    </form>
                <p-toast></p-toast>






