
<div *ngIf = 'product' class=" header surface-card p-6 shadow-2 border-round">

    <h4>Product Details</h4>
    <div class = "details">
    Product Name : {{product.productModel}} <br/>
    Category : {{product.categoryName}} <br/>
    Brand : {{product.brand}} <br/>
    Size : {{product.size}} <br/>
    SKU : {{product.skuNumber}} <br/>
    Weight : {{product.weight}} <br/>
    Dimensions : {{product.dimensions}} <br/>
    <span *ngIf='product.material && product.material.length'>Material : {{product.material}} <br/></span>
    <span *ngIf='product.noOfPieces && product.noOfPieces.length'>Number of Pieces : {{product.noOfPieces}} <br/></span>
</div>
</div>
<br>
<p-toast></p-toast>