

<div class=" header surface-card p-6 shadow-2 border-round"> 
    <h4>Orders</h4>
    <div class="flex justify-content-end p-fluid" *ngIf="dItems.length">
        <p-dropdown [options]="dItems" [(ngModel)]="selectedWarehouse" 
        optionLabel="warehouseName" placeholder="Select a Warehouse" 
        (onChange)="onWarehouseDropdownChange($event)"  >
            <ng-template pTemplate="selectedWarehouse">
               
                <div class="flex align-items-center gap-2" *ngIf="selectedWarehouse">
                    <div>{{ selectedWarehouse.warehouseName }}</div>
                </div>
            </ng-template>
            <ng-template let-warehouse pTemplate="item">
                <div class="flex align-items-center gap-2">
                   <div>{{ warehouse.warehouseName }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <br/>
        <p-table
            [value]="orders"
            [rowHover]="true"
            [rows]="20"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[20, 25, 30]"
            [paginator]="true"
    
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:10rem">
                        <div class="flex align-items-center">Order ID</div>
                    </th>
    
                    <th style="min-width:8rem">
                        <div class="flex align-items-center">Warehouse Name</div>
                    </th>
    
                    <th style="min-width:8rem">
                        <div class="flex align-items-center">Vendor Name</div>
                    </th>
    
                    <th style="min-width:15rem">
                        <div class="flex align-items-center">Product</div>
                    </th>
    
                    <th style="min-width:10rem">
                        <div class="flex align-items-center">Accessorial</div>
                    </th>
    
                    <th style="min-width:8rem">
                        <div class="flex align-items-center">Total Price</div>
                    </th>
    
                    <th style="min-width:8rem">
                        <div class="flex align-items-center">Shipping Address</div>
                    </th>
    
                    <th style="min-width:15rem">
                        <div class="flex align-items-center">Status</div>
                    </th>
                    <th style="min-width:8rem">
                        <div class="flex align-items-center">Received On</div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order let-rowIndex="rowIndex">
                <tr class="clickable-row" (click)="onRowClick(order)">
                    <td> {{ order.orderId}} </td>
                    <td> {{ order.warehouse.warehouseName }} </td>
                    <td> {{ order.vendor.businessName }} </td>
                    <td > {{ order.product.productModel }} <span *ngIf="order.product.categoryName=='shoes'">, Size: {{order.product.size}}</span></td>
                    <td> {{ order.accessorials.accessorialType }}</td>
                    <td> {{ order.totalPrice }} USD</td>
                    <td> {{ order.shippingAddress }}</td>
                    <td> {{ order.status }}
                        <span *ngIf="order.status=='SHIPPED'"><br/><small class="small-ltext">Shipped On: {{order.shippedOn | date}}</small></span>
                    </td>
                    <td> {{ order.receivedOn | date }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <br>
    <p-toast></p-toast>
    