<div class="layout-topbar">

    <a href="#" class="layout-topbar-logo">
        <img id="layout-topbar-logo" src="assets/layout/images/logo.png" alt="babylon-layout"/>
    </a>

    <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-visible': appMain.topbarMenuActive}">

        <span class="topbar-item-name username">Prathyusha</span>
        <li #profile class="user-profile"
            *ngIf="true"
            [ngClass]="{'active-topmenuitem':appMain.activeTopbarItem === profile}">

            <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                <img alt="babylon-layout" src="assets/layout/images/avatar-john.png"/>
            </a>

            <ul class="fadeInDown">
                <li role="menuitem">
                    <a href="#" >
                        <i class="pi pi-user"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>







